* {
    box-sizing: border-box;
}

button {
    background-color: purple;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: white;
}

#start-page-text {
    text-align: center;
    margin: 0 auto;
    max-width: 640px;
    margin-top: 20vh;
}

#start-page-text h1{
    font-size: xxx-large;
}

#start-page-text h2{
    font-size: xx-large;
    text-align: left;
}

#start-page-text p {
    font-size: larger;
}

#start-page-text #answer-button {
    display: block;
    margin-top: 15px;
    text-align: center;
}